<article class="post">
  <header class="post-header home">
    <div class="post-title">전체 글</div>
  </header>

  <div class="post-content">
    {% if paginator.total_pages > 1 %}
      <ul class="post-list">
        {% for post in paginator.posts %}
          <li class="post-list-item">
            <!-- {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%} -->
            {%- assign date_format = "%Y/%m/%d" -%}
            <span class="post-date">{{ post.date | date: date_format }}</span>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
            {%- if site.show_excerpts -%}{{ post.excerpt }}{%- endif -%}
          </li>
        {% endfor %}
      </ul>

      <nav class="pagination">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | relative_url }}" class="previous">이전 페이지</a>
        {% endif %}
        <span class="page-number">페이지 {{ paginator.page }} / {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | relative_url }}" class="next">다음 페이지</a>
        {% endif %}
      </nav>
    {% else %}
      <p>포스트가 없습니다.</p>
    {% endif %}
  </div>
</article>
